<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>МБОУ СОШ №22 - идеи и предложения</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  	<link rel="shortcut icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<script src="scripts.js"></script>
	<header class="p-3 text-bg-light">
    <div class="container-fluid">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="0" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a class="navbar-brand" href="https://s22.amsvlad.ru/"><img src="{{ url_for('static', filename='logo.png') }}" href="https://s22.amsvlad.ru/" height="40px" width="45px">  </img>МБОУ СОШ №22</a></li>
        </ul>
        <div class="text-end">
          <button type="button" class="btn btn-warning">Мои заявки</button>
          <button type="button" class="btn btn-outline-dark me-2">{{ us.username }}</button>
        </div>
      </div>
    </div>
	</header>
	<div class="container">
		<div class="row">
			<h1></h1>
		</div>
		<form method="post">
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">Ваше имя</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="name" id="name" placeholder="Введите ваше имя" autofocus="">
				</div>
			</div>
			<div class="row mb-3">
				<label class="col-sm-2 col-form-label">Email</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" name="email_address" id="email_address" placeholder="Введите адрес">
				</div>
			</div>
			<div class="row">
				<label class="col-sm-2 col-form-label">Предложение</label>
				<div class="col-sm-12">
					<textarea class="form-control eup-remember" name="idea_text" id="idea_text" rows="13" placeholder="Введите идею" required=""></textarea>
				</div>
			</div>
			<h6></h6>
			<input type="submit" class="btn btn-primary">
		</form>
	</div>
  </body>
</html>